*{
    padding:0;
    margin:0;
}

body{
    font-family: helvetica;
    font-size:22px;
    color: seashell;
    opacity: 1; 
    
    
    
}
header{
    border-bottom: 1px solid seashell;
    height: 69px;
    max-width:1240px;
    margin-left:auto;
    margin-right: auto;
    position: sticky;    
    top: 0;
    z-index: 3;
    background-color: black;
    
}

header img{
    margin-left: 10px;
    float:left;
    margin-top:9px;
    margin-bottom:10px;
    height: 50px;
    width: 10%;
    
}

nav{
    float: right;
    list-style-type: none;
    display: inline;
    margin: 20px 10px;

}

nav li{
    list-style-type: none;
    display: inline;
    text-decoration: underline;
    margin-right:auto;
    padding-right:8px;
    font-weight: 600;    
}

nav a{
    color:seashell;
}
a:hover{
    opacity:.5;
}

 main{
    z-index:-1;
    width:1240px;
    
    margin-left:auto;
    margin-right:auto;
    background-color: black;
    opacity: .9;
}
#mission {
    height: 700px;
    width: 1200px;
    background-image: url("artwork/img-mission-background.webp");
    margin-left:auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    
}

#mission article{
    background-color: black;
    opacity: 0.9;
    text-align: center;
    width: 100%;
    height: 6rem;
    line-height: 3rem;
    align-items: center;
    padding:5rem auto;
    color: seashell;
}

#featured{
    width:1000px;
    margin-left:auto;
    margin-right: auto;
    text-align:center;
    line-height:40px;
    margin-top:30px;
    margin-bottom: 30px;
    
}

#featured img{
    width:300px;
    height:200px;
    margin: 10px auto;
}

#featured .tea{
    display:inline-block;
    margin-bottom:10px;
}

#locations{
    background-image: url("artwork/img-locations-background.webp");
    width:1200px;
    height:550px;
    display: flex;
    flex-direction: column;
    align-content:center;
    margin-left:auto;
    margin-right:auto;
    
    
}

#locations img{
    width:1200px;
    height:600px;    
}

#locations .title{
    text-align: center;
    margin-bottom:15px;
    margin-top:30px;
    display:flex;
    justify-content:center;
    
}
#locations .address{
    display:flex;
    justify-content: center;
    margin-top:15px;

    
}

.store{
    margin-right:20px;
    margin-left:20px;   
    width:300px;
    height:300px;
    background-color: black;
    opacity:1;
    text-align:center;
    line-height:70px;
}

footer{
    
    width:1240px;
    background-color:black;
    margin-left:auto;
    margin-right:auto;
    opacity:.9;
}

.contact{
    text-align:center;
    height:200px;
    line-height:50px;
}

.copyright{
    margin-left: 20px;
    margin-bottom: 20px;
}
