*{ 
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(216, 198, 174);
    font-family: 'Open Sans', sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;    
}

header{
    background-color: rgb(23, 137, 122);
    width:80%;
    z-index:3;
    padding:1rem;
    opacity:.95;
    position:fixed;
    margin:1rem auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    line-height:4rem;
}


header #banner{
    color:rgb(239, 188, 7);
    /* font-size:1.5rem; */
    text-justify: center;
}

nav ul{
    display:flex;
    flex-direction:row;
    flex-shrink:1;
    list-style-type: none;
}
nav li{
    padding:0 1em;
    font-size: 1.75rem;
}

/* header li{
    color:rgb(249, 54, 5);
    font-size:2rem;
    padding:0 2em;
    
    
        
} */


h4{
    color:rgb(34, 34, 111);
    font-style: italic;
}

section{
    margin:1em auto;
    padding: 2rem;
    line-height: 2.5rem;
    font-size: 2rem;
    flex-direction: row;
    align-items: center;
    
}

#Gallery ul{
    list-style-type: none;
    display:flex;
    justify-content:space-between;
}

main{
    margin-top:150px;
    flex-direction: row;
    align-items: center;
    
}

 h2{
    font-size:3rem;
    padding-bottom:2rem;
    padding-top:1rem;
    color:rgb(23, 137, 122);
 }


#Hello img{
    width:66%;
    height:550px;
    margin-left:16.5%;
    
}

#Hello{
    justify-content:center;
}
.pics{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align:center;
}

.pics img{
    padding:1rem;
}

footer{
    font-size:1.5rem;
    text-align:center;
    background-color: rgb(23, 137, 122);
    width:80%;
    color:rgb(239, 188, 7);
    margin-bottom: 3em;


}



